<style >
body{
  background:rgb(106, 208, 205);
}
h1{
  text-align:center;
}
#health {
  margin-top: 5%;
  margin-left: 75%;
  position: relative;
}
</style>

<div class="container" id="game" height="1200px" width="800px">
</div>
