<style >

    body { font-family: sans-serif;
      background-color: #0B486B;}

#main-menu .nav-bar {
  list-style:none; margin-top: 40px; }
#main-menu .nav-bar li {
  display:inline; padding:0 170px; }

#main-menu .nav-bar li a {
  text-decoration: none;
  padding-left: 25px;
  text-transform: uppercase;
  color: white;
	text-shadow: 1px 1px 1px #ccc;
}



  h1{
    text-align:center;
  }

 #health {
   margin-top: 5%;
   margin-left: 75%;
   position: relative;

 }


</style>

<nav id="main-menu">
     <ul class="nav-bar">
       <li class="nav-button-home"><%= link_to "Home", root_path %>
</li>

          <li class="nav-button-services"><a href="#">Player</a></li>
          <li class="nav-button-products"><a href="#">Score</a></li>
     </ul>
</nav>


<!-- <h1> â– â–‚ â–„ â–… â–† â–‡ â–ˆ ğ•Šğ• ğ•“ğ•–ğ•£ â„ğ•¦ğ•Ÿğ•Ÿğ•–ğ•£ â–ˆ â–‡ â–† â–… â–„ â–‚ â–</h1> -->
<!-- <h1>Health Bar</h1> -->
<div class="container">
<div id="health">
<progress id="energy" value="50" max="50"></progress>
</div>
</div>
<div class="audio">
  <embed src="/assets/JUNE_EFFECT.mp3" autostart="true" loop="true" hidden="true">
</div>



<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
