<style >
  body{
    background:lightblue;
  }

  h1{
    text-align:center;
  }

 #health {
   margin-top: 5%;
   margin-left: 75%;
   position: relative;

 }


</style>

<%= link_to "Home Page", root_path %>
<!-- <h1> â– â–‚ â–„ â–… â–† â–‡ â–ˆ ğ•Šğ• ğ•“ğ•–ğ•£ â„ğ•¦ğ•Ÿğ•Ÿğ•–ğ•£ â–ˆ â–‡ â–† â–… â–„ â–‚ â–</h1> -->
<!-- <h1>Health Bar</h1> -->
<div class="container">
<div id="health">
<progress id="energy" value="50" max="50"></progress>
</div>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
