
 <!DOCTYPE HTML>
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
 <title> </title>
</head>
<body>


<div id="Cover-pops">

    <div class="container">
     <h1>Wasted By All Means!</h1>
    </div>
</div>

<button onclick="myFunction()">Try it</button>


<div id="pulse-pops">
    <div class="container1">
    <h2>Ease Up on the Shots Bruh!</h1>
    </div>
</div>

<button onclick="myPop()">Try it</button>

  


</body>

</html>

<%# font-family: 'Bungee Inline', cursive;
font-family: 'Knewave', cursive;
font-family: 'Faster One', cursive;
font-family: 'Fontdiner Swanky', cursive; %>