/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




 @font-face {
				font-family: "open";
				font-style: normal;
				font-weight: 300;
				src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

*, *:before, *:after {
  box-sizing: border-box;
}

@keyframes empty {

  0% {
    transform: scale( 10);
  }

  100% {
    transform: scale( 0);
  }

}

@keyframes shake {

  0%, 100% {
    transform: rotate( 0 );
  }

  10%, 50%, 90% {
    transform: rotate( 4deg );
  }

  30%, 70% {
    transform: rotate( -4deg );
  }

}

@keyframes moveLeft {

  100% {
    left: 40%;
  }

}

@keyframes fave {

  0% {
    opacity: 0;
  }

  100% {
    left: 45%;
    opacity: 1;
  }

}

@keyframes fill {

  0% {
    bottom: -10%;
  }

  100% {
    bottom: 0%;
  }

}

@keyframes goOut {

  100% {
    opacity: 0;
    top: 45%;
  }

}

@keyframes comeIn {

  0% {
   opacity: 0;
   top: 55%;
  }
  100% {
    opacity: 1;
    top: 45%;
  }

}

@keyframes copyrights {

  0% {
   opacity: 0;
   bottom: 0;
  }
  100% {
    opacity: 1;
    bottom: 5%;
  }

}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: open, 'sans-serif', sans;
  background: lightgreen;
  overflow: hidden;
}

.bg {
  background:  #0B486B;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  top: 50%;
  margin-top: -25vw;
  margin-left: -25vw;
  left: 50%;
  position: absolute;
  animation: empty both 5s linear;
}

.anetwork {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -23px;
  margin-left: -23px;
  width: 46px;
  box-shadow: 0 2px 2px rgba( 0, 0, 0, .5 );
  height: 46px;
  background: maroon;
  overflow: hidden;
  animation: shake .25s linear 20, moveLeft both .7s ease-in-out 5.5s, goOut forwards .6s ease 8s;
}
.anetwork:before {
  content: 'sober run';
  position: absolute;
  width: 150%;
  transform: scale( 1.2 );
  height: 100%;
  background: black;
  border-radius: 75px 75px 0 0 / 30px 30px 0 0;
  animation: fill both 5s linear;
}
.anetwork:after {
  content: 'SB';
  color: white;
  font: 42px tahoma, arial, sans-serif;
  position: absolute;
  right: -2px;
  bottom: -12px;
}

.text {

  color: white ;
  text-shadow: 0 1px 0 turquoise;
  font-size: 40px;
  position: fixed;
  left: 45%;
  top: 50%;
  margin-top: -1%;
  /* Fave = Fade N move :D */
  animation: fave .7s both ease-in-out 5.5s, goOut forwards .6s ease 8s;
}

.logo{
  text-align: center;
}






.btn {
  background-color:#0B486B;
  position: relative;
  outline: none;
  border-radius: 15px;
  box-shadow: 20px 15px 20px #3B8686;
  font-size: 24px;
  display: block;
  text-align: center;

  /* margin: 10px auto; */
  min-height: 80px;
  width: 170%;
  color: white;
  /* padding-top: 35px; */

}
.copyright {
  font-size: 16px;
  color: #666;
  text-shadow: 0 -1px 0 #f1f1f1;
  position: absolute;
  left: 42%;
  bottom: 5%;
  animation: copyrights .5s ease both 6.5s;
}

.finish {
  position: absolute;
  left: 45%;
  color: green;
  font-size: 30px;
  animation: comeIn both .5s ease 8.5s;
}

body{
  background: rgba(211, 251, 78, 0.66);
   background-image: url("intro.jpg");
   background-size: cover;
   

}






h1{
  text-align: center;
}

 @import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Faster+One|Fontdiner+Swanky|Knewave');

 #Cover-pops .container {
    box-sizing: content-box;
    border: 15px red groove;
    width: 150px;
    height: 50px;
    padding: 1em;
    justify-items: center;
 }

 #pulse-pops .container1 {
    box-sizing: content-box;
    border: 15px red groove;
    width: 150px;
    height: 80px;
    padding: 1em;
    justify-items: center;

 }

 .container {
    padding: 1em;
    font-family: 'Fontdiner Swanky', cursive;
    text-transform: uppercase;
    text-align: center;
    color: gray;
    text-shadow: 0px 2px red;

  }

  .container1 {
    padding: 3em;
    font-family: 'Fontdiner Swanky', cursive;
    text-transform: uppercase;
    text-align: center;
    color: gray;
    text-shadow: 0px 2px red;

  }



h1 {
    font-size: 1rem;
    animation: glitch-1 1s infinite linear;
    }

h2 {
    font-size: 1rem;
  animation: pulse 1s infinite;
  -webkit-animation-name: pulse;
}



    #warning {
    font-size: 2em;
    font-family: 'Fontdiner Swanky', cursive;
    color: gray;
    text-shadow: 0px 2px red;
    animation: pulse 1s infinite;
    -webkit-animation-name: pulse;
    padding: 2em;
    }

  @keyframes glitch-1 {
    0%, 2%, 5%, 42%, 45%, 72%, 75%, 100% {opacity: 1; transform: scaleX(1) scaleY(1);}
    3% {opacity: .8; transform: scaleY(2);}
    43% {opacity: .8; transform: scaleX(1.3);}
    73% {opacity: 8; transform: rotate(5deg) scale(2);}
  }

  @keyframes glitch-2 {
    0%, 12%, 15%, 52%, 55%, 82%, 85%, 100% {opacity: 1; transform: scaleX(1) scaleY(1); }
    13% {opacity: .8; transform: scaleY(2); color: #0ff;}
    53% {opacity: .8; transform: scaleX(.7);  color: #f0f;}
    83% {opacity: 8; transform: rotate(-10deg); color: #ff0;}
  }

  @keyframes pulse {
    from { -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);}
    50% { -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);}
    to { -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);}
    }


