<div class="bg"></div>

<a href="http://anetwork.ir" class="anetwork"></a>
<div class="text"><a href="http://anetwork.ir">Welcome to Sober runner</a></div>

<div class="finish"><a href="#">sign up or login</a></div>
